<h1>Albion Killarchive - pre beta/early development</h1>
<p>Trying to create a murderledger clone for educational purpose</p>
<%= link_to "Alliances", alliances_path %><br>
<%= link_to "Guilds", guilds_path %>
<p>More stuff to come...</p>
<p>If you know/want to learn HTML/CSS/Javascript or Ruby/Rails and want to participate, please feel free to reach out to me for contributing, 'faervan' on Discord</p>
<p>I will create a public github repo soon.</p>
