<h1>Albion Killarchive - pre beta/early development</h1>
<p>Trying to create a murderledger clone for educational purpose</p>
<%= link_to "Alliances", alliances_path %><br>
<%= link_to "Guilds", guilds_path %><br>
<%= link_to "Players", players_path %>
<p>More stuff to come...</p>
<p>You can find the source code on <a href="https://github.com/Faervan/albion-killarchive" target="_blank">GitHub</a></p>
